* {
    bg-col:  #080809;
    bg-col-light: #080809;
    border-col: #080809;
    selected-col: #080809;
    blue: #125d9f;
    fg-col: #D9E0EE;
    fg-col2: #6b9fc1;
    grey: #D9E0EE;
    width: 600;
}

